@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

.txt_p_font {
  font-family: "Rubik", sans-serif;

}

.txt_s_font {
  font-family: "Oswald", sans-serif;
}